HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
random-role-api/src/main/resources/application.properties
random-role-gui/node_modules/
!**/src/main/java/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
