HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
src/main/resources/application.properties
!**/src/main/java/**
!**/src/test/**
.node/
node_modules/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
